<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta http-equiv="X-UA-Compatible" content="ie-edge"/>
        <title>Quiz - DevPro</title>
        <link rel="stylesheet" href="/static/core/assets/styles/app.css"/>
    </head>
    <body>
        <div class="game-page">
            <p class="subtitle-quiz">Quiz</p>
            <p class="subtitle-page">Dev Pro</p>

        <div class="container">

                <div id="loader"></div>

                <div id="game" class="justify-center flex-column animate-bottom hidden">

                    <h2>Questão {{ question.index }}</h2>
                    <h3>{{ question.statement }}</h3>

                    {% for option in question.options.array %}
                        <div class="choice-container">
                            <p class="choice-prefix">{% cycle 'A' 'B' 'C' 'D' %}</p>
                            <p class="choice-text">{{ option }}</p>
                        </div>
                    {% endfor %}
                </div>
            
            </div>
        </div>
    </body>
    <script src="/static/core/assets/js/script.js"></script>
</html>